services:
  db:
    image: postgres:16
    container_name: etl_pg
    environment:
      POSTGRES_USER: etluser
      POSTGRES_PASSWORD: etlpass
      POSTGRES_DB: etldb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U etluser -d etldb"]
      interval: 5s
      timeout: 3s
      retries: 10
volumes:
  pgdata: